// main: ../style.scss
@use '../mixin/mixin' as *;


.footer{
  background: $main-color;
  color: white;
  padding: 5% 5% 2% 5%;
  position: relative;

  &-box{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p{
      i{
        vertical-align: bottom;
      }
    }
    @include tab{
      width: 94%;
    }
    @include sp{
      flex-direction: column;
      margin-bottom: 11%;
      align-items: flex-start;
    }
  }

  &-name{
    margin-bottom: 1%;
    img{
      width: 100%;
      max-width: 261px;
    }
    @include sp{
      margin-bottom: 4%;
    }
  }

  .f-sns{
    a{
      font-size: 2em;
      &:hover{
        opacity: .8;
        transition: .3s;
      }
      @include sp{
        font-size: 2.5em;
      }
    }
  }

  .copy{
    text-align: center;
    font-size: 13px;
    @include sp{
      font-size: 11px;
    }
  }
  
  @include sp{
    padding: 14% 5% 3% 5%;
  }
}
